doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        link(href='style/agdq-main.css', rel='stylesheet')
        link(href='style/agdq-16x9_2.css', rel='stylesheet')
        link(href='font/gamegirl_classic.css', rel='stylesheet')
        link(rel='stylesheet', href='/components/fontawesome/css/font-awesome.min.css')

        // In the header to prevent rendering flicker during font acquisition
        script(src='//use.typekit.net/rka8num.js')
        script.
            try {Typekit.load();} catch (e) {}
    body
        .container
            include ./includes/header.jade
            include ./includes/game.jade
            #runner1.runner Running Person
            #runner2.runner Running Person
            include ./includes/timer.jade
            include ./includes/rotation.jade
            include ./includes/footer.jade

        script(src="lib/jquery-2.1.1.min.js")
        script(src="lib/textFit.min.js")
        script(src="lib/TweenMax.min.js")
        script(src="lib/SplitText.min.js")
        script(src="lib/formatMoney.js")
        script(src="app/agdq15-layouts.js")
        // NodeCG API, must be the last script included!
        script(src="/viewsetup.js")
