<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="style/agdq-main.css" rel="stylesheet">
    <link href="style/finale.css" rel="stylesheet">
    <link href="font/gamegirl_classic.css" rel="stylesheet">
    <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css">
    <!-- In the header to prevent rendering flicker during font acquisition-->
    <script src="//use.typekit.net/rka8num.js"></script>
    <script>
      try {Typekit.load();} catch (e) {}
      window.layoutName = 'finale';
    </script>
  </head>
  <body>
    <div class="container">
      <div class="footer">
        <div class="footer-total">Fundraising Total:<span class="footer-total-amount">Retrieving...</span></div><img src="img/pcf-logo.png" class="footer-pcf">
      </div>
    </div>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="components/textfit/textFit.min.js"></script>
    <script src="lib/SplitText.min.js"></script>
    <script src="lib/formatMoney.js"></script>
    <script src="app/agdq15-layouts.js"></script>
  </body>
</html>