.agdq15-layouts .updateResult {
  position: absolute;
  left: 1px;
  top: 100%;
  transition: top 750ms ease;
  z-index: 2;
  pointer-events: none;
  cursor: default;
}
.agdq15-layouts .updateResult-show {
  -webkit-animation: updateResult-show 4s;
  -moz-animation: updateResult-show 4s;
  -o-animation: updateResult-show 4s;
  animation: updateResult-show 4s;
}
.agdq15-layouts .returnsResult {
  overflow: hidden;
}
@-webkit-keyframes updateResult-show {
  0% {
    top: 100%;
  }
  5% {
    top: 0%;
  }
  95% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@-moz-keyframes updateResult-show {
  0% {
    top: 100%;
  }
  5% {
    top: 0%;
  }
  95% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@-o-keyframes updateResult-show {
  0% {
    top: 100%;
  }
  5% {
    top: 0%;
  }
  95% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes updateResult-show {
  0% {
    top: 100%;
  }
  5% {
    top: 0%;
  }
  95% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
