.ncg-btn-group
   .btn-group.btn-group-justified.returnsResult
      .btn-group.js-update
         button.btn.btn-xs.btn-warning(type='button' title='Prizes update automatically on a timer, this forces an immediate update')
            | Force Prizes Update
         span.btn.btn-xs.btn-danger.updateResult.updateResult-error Error
         span.btn.btn-xs.btn-default.updateResult.updateResult-default Default
         span.btn.btn-xs.btn-success.updateResult.updateResult-success Success

table.table.table-striped(style="margin: 0px;")
   thead
      tr
         th Name
         th Description
         th Min. Bid
         th Image
   tbody
      tr
         td Waiting
         td for
         td data
         td ...