if useGameFooterVariant
   .game.game--footer
      .game-title Waiting for data...
      .game-srDetails
         .game-srDetails-category EST:
         .game-srDetails-estimate.font-gameGirl 8:88:88
else
   .game
      .game-title Waiting for data...
      .game-srDetails
         .game-srDetails-category EST:
         .game-srDetails-estimate.font-gameGirl 8:88:88
