.rotation
   .rotation-sponsors
   .rotation-prize
      .rotation-prize-info
         .rotation-prize-name
         .rotation-prize-min
      .rotation-prize-img
   .rotation-deck
      .rotation-deck-label UP NEXT
      .rotation-deck-game ...
      .rotation-deck-timer.font-gameGirl 00:00:00