.timer
   .timer-label
      div(style="overflow: hidden; width: 100%; height: 100%;")
         .timer-label-wing
      .timer-label-text TIMER
      div(style="overflow: hidden; width: 100%; height: 100%;")
         .timer-label-wing(style="transform: translate(-2px, 49%);")
   .timer-body.font-gameGirl