.container {
    background-image: url("/view/agdq15-layouts/img/bg/curtain.png");
}
.rotation-upcoming-label {
    color: #9e9e9e;
    font-size: 30px;
    width: 100%
}
.rotation-upcoming {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.rotation-upcoming-run {
    width: 100%;
    margin: 12px 0;
}
.rotation-upcoming-run-title {
    color: #00e7e7;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    line-height: 30px;
}
.rotation-upcoming-run-runners {
    color: white;
    font-family: "futura-pt";
    font-size: 23px;
    line-height: 30px;
}
.rotation {
    width: 606px;
    height: 342px;
    bottom: 63px;
    left: 26px;
}
.rotation-sponsors {
    background-image: url("/view/agdq15-layouts/img/sponsors/curtain.png");
}
.rotation-deck-label {
    font-size: 30px;
}
.rotation-deck-game {
    font-size: 42px;
}
.rotation-deck-timer {
    font-size: 32px;
}
.banner,
.nextBanner {
    width: 1188px;
    height: 280px;
    position: absolute;
    top: 15px;
    left: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #00fcff;
}
.banner {
    background-image: url("/view/agdq15-layouts/img/banners/5.png");
}
.nextBanner {
    opacity: 0
}